<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.2.1" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net40" />
  <package id="CoreDdd" version="3.1.0" targetFramework="net40" />
  <package id="CoreDdd.AspNet" version="3.1.0" targetFramework="net40" />
  <package id="CoreDdd.Nhibernate" version="3.1.0" targetFramework="net40" />
  <package id="CoreDdd.Nhibernate.Register.Castle" version="3.1.0" targetFramework="net40" />
  <package id="CoreDdd.Register.Castle" version="3.1.0" targetFramework="net40" />
  <package id="CoreIoC" version="3.1.0" targetFramework="net40" />
  <package id="CoreIoC.Castle" version="3.1.0" targetFramework="net40" />
  <package id="CoreUtils" version="3.1.0" targetFramework="net40" />
  <package id="DatabaseBuilder" version="1.0.11" targetFramework="net40" />
  <package id="FluentNHibernate" version="2.0.3.0" targetFramework="net40" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="NHibernate" version="4.1.1.4000" targetFramework="net40" />
  <package id="NHibernateProfiler" version="5.0.5031" targetFramework="net40" />
  <package id="WebActivatorEx" version="2.0.5" targetFramework="net40" />
</packages>