<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="Legacy"
         connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Legacy;Integrated Security=SSPI;"
         providerName="System.Data.SqlClient"
    />
  </connectionStrings>
</configuration>
