@model AspNetCoreMvcApp.Commands.CreateNewShipCommand
@{
    ViewData["Title"] = "Create new ship";
}

<form asp-controller="ManageShips" asp-action="CreateNewShip" method="post">
    Ship Name:
    <input asp-for="ShipName" />
    <br />
    Tonnage:
    <input asp-for="Tonnage" />
    <br />
    <button type="submit" title="Clicking the button will execute a command to create a new ship">Create new ship</button>
    <br />
    Last ShipId created: TODO
</form>
